<nav class="navbar navbar-expand-xl navbar-custom">
    <div class="container-fluid header-custom">
        <div>
            <a class="navbar-brand hotel-link" routerLink="/home">Hotel</a>
        </div>
    </div>
    <div *ngIf="tokenService.hasToken">

        <a class="logout" (click)="onLogout()">Logout</a>

    </div>


    <div class="nav-item dropdown right" appDropdown #r="appDropdown" *ngIf="tokenService.hasToken">
        <a class="nav-link dropdown-toggle manage" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Manage
                </a>
        <ul class="dropdown-menu" [ngClass]="{'show':r.isOpen}" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/guest">Account</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/reservations">Reservations</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" routerLink="/rooms">Rooms</a></li>

        </ul>
    </div>



</nav>