<div class="container">
    <div class="row list-auth">
        <ul class="list-group list-group-horizontal">
            <li class="
          list-group-item d-flex justify-content-between align-items-center" routerLinkActive="active"><a routerLink="/home/signup">Sign Up</a></li>
            <li class="list-group-item d-flex justify-content-between align-items-center" routerLinkActive="active"><a routerLink="/home/login">Log In</a></li>
        </ul>

    </div>
    <router-outlet></router-outlet>
</div>